<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Dodawanie posta</h1>
<form action="/show" method="get">
    <label>Tytuł:</label>
    <input type="text" name="title">
    <br>
    <label>Opis:</label>
    <textarea rows="4" cols="50" name="description"></textarea>
    <br>
    <label>Autor</label>
    <input type="text" name="author">
    <input type="submit" value="Dodaj post">
    <br>
    <form action="/all" method="get">
        <input type="submit" value="Pokaż wpisy">
    </form>
    <br>
    <a href="/all">Pokaż listę</a>
    <br>
    <form action="/show" method="get">
        <input type="submit" value="Pokaż wpis">
    </form>
    <br>
    <form action="/mem" method="get">
        <input type="submit" value="Dodaj mema">
    </form>
    <br>
    <form action="/image" method="get">
        <input type="submit" value="Pokaż mem">
    </form>
</form>
</body>
</html>